sudo: required
addons:
  chrome: stable
language: node_js
node_js: 
  - "10.17"
cache:  
  directories:
    - "node_modules"
branches:
  only:
    - master
before_script:
  - npm install
  - npm install -g typescript
script:
  - node dist