# sudo: required
# addons:
#   chrome: stable
# language: node_js
# node_js: 
#   - "10.17"
# cache:  
#   directories:
#     - "node_modules"
# branches:
#   only:
#     - master
# before_script:
#   - npm install
#   - npm install -g typescript
# script:
#   - node dist



# sudo: required
# language: node_js
# node_js:
#   - "10.17"

# before_script:
#   - npm install
#   - npm install -g typescript
# script:
#   - node dist

language: node_js
node_js:
  - "10.17"
sudo: required
services:
  - docker
before_script:
  - npm install
script:
  - npm test
  - docker build -t back .
after_success:
  - docker login -u milh -p "MiltonHernandez08"
  - docker tag back $DOCKER_USER/back:$TRAVIS_BUILD_NUMBER
  - docker push $DOCKER_USER/back:$TRAVIS_BUILD_NUMBER
  - docker tag back $DOCKER_USER/back:latest
  - docker push $DOCKER_USER/back:latest